:root {
    --gap: 1rem;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: grid;
    grid-template-areas:
        "header header"
        "nav content";
    grid-template-columns: 200px auto;
    grid-template-rows: auto 1fr;
    height: 100vh;

}

body>header,
nav {
    padding: 20px;

}

body>header {
    grid-area: header;
    text-align: left;
    background-color: #3a5a40;
    color: #dad7cd;
}

body>nav {
    grid-area: nav;
    background-color: #a3b18a;
    text-align: left;
    padding: 30px;
}

.content,
.input-content {
    grid-area: content;
    background-color: white;
    margin: 3em;
}

/* här börjar index.html */

.content {
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

.content h2 {
    display: flex;
    align-items: center;
}

.product-button {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.custom-button {
    display: inline-block;
    text-decoration: none;
    background-color: #a3b18a;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
}

.custom-button:hover {
    color: white;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}


.admin-table {
    border-collapse: collapse;
    width: 100%;
}


td,
th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;

}

td a:hover svg {
    stroke: #588157;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

tr:nth-child(even) {
    background-color: #a3b18a;
}

th {
    background-color: #3a5a40;
    width: 30%;

}

.head-icon {
    width: 100px;

}

.icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}


a {
    text-decoration: none;
    color: black;
}

/* här börjar new.html */

.product-input {
    display: flex;
    flex-direction: row;
    padding: var(--gap);
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.category {
    display: inline-block;
    border: 0;
    display: flex;
    flex-direction: column;
    padding: var(--gap);
}

.input-content>input[type=submit] {
    margin: var(--gap);
    background-color: #3a5a40;
    color: #fff;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
}

.input-content>input[type=submit]:hover {
    background-color: #588157;
}