:root {
    --gap: 1rem;
    /* distans alla gap */
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body {

    margin: 0;
    background-color: white;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap);
    margin: 8px;
    background-color: white;

}

.header-container {
    display: flex;
    gap: var(--gap);
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.header-container>input[type=search] {
    flex-grow: 1;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: 1rem;

}

main {
    margin: 8px;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.icon {

    width: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
}

h2 {
    align-self: center;
}


/* här börjar index.html */

.hero-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    align-items: center;
    padding: var(--gap);
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.spots {
    display: none;
}


.spot-container {
    display: none;
}

.products {
    display: grid;
    grid-template-columns: 1fr;
    gap: calc(2 * var(--gap));
}


.products>a {
    text-decoration: none;
}

.products img {
    border: 1px solid black;
}

.productDetails {
    display: flex;
    justify-content: space-between;
}

.product-text {
    display: flex;
    flex-direction: column;
}

.product-text h2 {
    align-self: flex-start;
}

.productImage {
    position: relative;
}

.banner-new {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: black;
    padding: 10px 10px;
    color: white;
    border-radius: 5px;
    font-size: 24px;
}

.heart-bottom-right {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
}

/* Här börjar product-details.html */

.product-text {
    gap: var(--gap);
}

button {
    padding: 10px 40px;
    width: 300px;
    align-self: center;
    cursor: pointer;
    transition-duration: 0.4s;
    background-color: #ccd5ae;
    border: 1px solid black;
    color: black;
}

button:hover {
    background-color: #e9edc9;
}

.product-section {
    display: none;
    width: 100%;
}

/* Här börjar checkout.html */

.checkoutItem {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    justify-content: space-between;
    padding: var(--gap);
}

.checkoutItemTitle {
    display: flex;
    justify-content: space-between;
}

.checkoutItemContainer {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}


.checkout-table {
    border-collapse: collapse;
    display: none;
}

.customer-details div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.address {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--gap);
}

#zipcode {
    width: 200px;
}

.checkbox {
    padding: var(--gap);
}

.buybutton {
    justify-self: center;
    margin: var(--gap);
    width: 200px;
    font-size: large;
}


.infoIcons>ul>li {
    display: flex;
    align-items: center;
    gap: var(--gap);
}


/* Här börjar footer */


details {
    border: 1px solid black;
    border-bottom: 0;
    background-color: #a3b18a;
}

details:last-of-type {
    border-bottom: 1px solid black;
}

details:open>summary {
    background-color: #ccd5ae;
    border-bottom: 1px solid black;
}

summary {
    padding: 5px;

}

summary::marker {
    content: "";
}

details>ul {
    padding-left: var(--gap);
}

footer {
    background-color: #a3b18a;
}

footer>p {

    text-align: center;
    padding: 20px;
    margin: 0;

}

.footer-lg {
    display: none;
}




@media (width>=640px) {
    header {
        grid-template-columns: 300px auto;

    }

    .header-container>input[type=search] {
        flex-grow: 0;
        width: 230px;
    }

    header img {
        max-width: 300px;
    }


    nav ul {
        display: flex;
        flex-direction: row;
        gap: var(--gap);
        margin: 10px;
    }

    ul a:hover {
        color: #a3b18a;
    }

    .products {
        grid-template-columns: 1fr 1fr;
        gap: var(--gap);
    }

    details {
        display: none;
    }

    footer {
        background-color: #a3b18a;
        border: 1px solid black;
    }

    .footer-lg {

        display: block;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 20px;
        justify-items: center;
    }

    .infoIcons>ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: var(--gap);
        padding: 3rem;
    }

    .badge-top-left {
        position: absolute;
        height: 40px;
        width: 250px;
        top: 10px;
        left: 10px;
        font-size: 1em;
    }

    .heart-bottom-right {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
    }

    /* här börjar product-details. */

    .product-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--gap);
    }

    .product-page img {
        width: 400px;
        min-width: 400px;
        justify-self: center;

    }

    .product-text {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
    }

    .product-text h2 {
        align-self: flex-start;
    }

    /* här börjar karusellen */
    .product-section {
        margin: auto;
        display: block;
        position: relative;
        overflow: hidden;
        padding: 20px;
        max-width: 1500px;
    }


    .product-category {
        padding: 0 10px;
        font-size: 30px;
        margin-bottom: 40px;
        text-align: center;

    }

    .product-container {

        padding: 10px;
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
    }

    .product-container::-webkit-scrollbar {
        display: none;
    }

    .product-card {
        flex: 0 0 auto;
        width: 300px;
        height: 450px;
        margin-right: 10px;
    }

    .product-image img {
        height: 400px;
        width: 300px;
    }


    .title-price {
        display: flex;
        justify-content: space-between;
    }

    .brand {
        font-size: small;
        margin: 0;
    }

    svg {

        width: 35px;
        height: 100%;
        cursor: pointer;

    }

    .product-section svg {
        height: 45px;
        width: 45px;
        color: black;
        text-align: center;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .product-section svg:first-child {
        left: -10px;
    }

    .product-section svg:last-child {
        right: -13px;
    }

    .product-section .carousel {
        font-size: 0px;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        scroll-behavior: smooth;

    }

    .product-page button {
        width: 200px;
        padding: 10px;
        align-self: flex-start;
        background-color: #ccd5ae;
        border: 1px solid black;
        color: black;
    }

    .product-page button:hover {
        background-color: #e9edc9;

    }

    .product-row {
        display: flex;
        gap: var(--gap);
    }

    /* Här börjar checkout */


    .checkout-table td,
    th {
        border: 1px solid black;
        text-align: left;
        padding: 10px;
    }

    .checkout-table th {
        background-color: #a3b18a;
    }

    .checkout-table tr:nth-child(odd) {
        background-color: #ccd5ae;
    }


    .checkoutItem {
        display: none;
    }

    .checkout-table {
        display: table;
        width: 100%;
    }

    .customer-details {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--gap);
    }

    .customer-details div {
        display: flex;
        flex-direction: column;
    }

}


@media (width>=1024px) {


    header,
    main {
        max-width: 1400px;
        padding: var(--gap);
        margin: 0 auto;
    }



    header {


        .header-container>input[type=search] {
            flex-grow: 0;
            border: 1px solid black;
            border-radius: 10px;
            padding: 5px;
            font-size: 1rem;

        }

        .header-icons {
            display: flex;
            gap: 10px;
            margin-left: auto;
        }
    }

    .hero-container {
        display: flex;
        flex-direction: row-reverse;
        margin: var(--gap);

    }

    .spot-container {
        display: flex;
        justify-content: center;
        gap: var(--gap);
        margin: var(--gap);
        width: 100%;

    }

    .spot-img {
        position: relative;
        width: 400px;
        height: 300px;

    }

    .spot-img img {
        object-fit: cover;
        border: 1px solid black;
    }

    .spot-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        padding: 10px;
        font-size: 18px;
    }

    .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;

    }

    .infoIcons>ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        gap: var(--gap);
        padding: 3rem;

    }

    .product-page {
        display: grid;
        grid-template-columns: 400px 500px;
        /* är detta rätt? */

    }

    .product-text {
        justify-items: start;
    }

    .product-page img {

        display: flex;
        flex-direction: 1;


    }


}